
	<script src="https://maps.googleapis.com/maps/api/js?key={{apos.settings.getOption('googleMapsApiKey')}}"></script>
	<div id="map" style="width: 100%; height: 100%;"></div>


	{% if editorInputElementId %}
	<input type="hidden" id="{{editorInputElementId}}" name="location" required value='{{idea.location | dump | safe}}'>
	{% endif %}
	<script>

	 var markers = [
		 // {% for idea in ideas %}
		 // {% if (idea.location) and (idea.status !=  'DENIED' or ideas.length == 1) %}
		 {
			 position: JSON.parse('{{idea.location | dump | safe}}' || null),
			 icon     : {
				 url    : {% if ( idea.status == 'DONE' ) or (idea.status == 'ACCEPTED') or (idea.status == 'BUSY') %}'/img/idea/flag-blue.svg'{% elseif ( idea.status == 'CLOSED' ) or (idea.status == 'DENIED') %}'/img/idea/flag-gray.svg'{% else %}'/img/idea/flag-red.svg'{% endif %},
				 size   : [22, 24],
				 anchor : [ 4, 21],
			 },
			 href: '/plan/{{idea.id}}',
			 status: '{{idea.status}}',
			 endDate: '{{idea.endDate}}',
		 },
		 // {% endif %}
		 // {% endfor %}
	 ]

	 // delete old markers when there are too many
	 var selectedMarkers = [];
	 if (markers.length > 20) {
		 markers.forEach(function(marker) {
			 var select = true;
			 if (marker.status ==  'CLOSED') {
				 var datediff = new Date().getTime() - new Date(marker.endDate).getTime();
				 if ( datediff > 1000 * 60 * 60 * 24 * 90 ) {
					 select = false;
				 }
			 }
			 if (select) {
				 selectedMarkers.push(marker);
			 }
		 });
	 } else {
		 selectedMarkers = markers
	 }

	 if ('{{editorInputElementId}}') {
		 var editorInputElement = document.getElementById('{{editorInputElementId}}');
		 var editorMarker = {
			 icon     : {
				 url    : '/img/idea/flag-blue-dh.svg',
				 size   : [22, 24],
				 anchor : [ 4, 21],
			 }
		 }
	 }

	 var openstadMapMarkerstyles = {% if config.openStadMap.markerStyle %}{{ config.openStadMap.markerStyle | dump | safe }}{% else %}null{% endif %};
 	 var openstadMapPolygon = {% if data.global.mapPolygons %}{{ data.global.mapPolygons | dump | safe }}{% else %}null{% endif %};
//	 var openstadMapDefaults = null;
	 var openstadPolygons = openstadMapPolygon;//{% if config.openStadMap.polygons and config.siteId and config.openStadMap.polygons[config.siteId] %}{{ config.openStadMap.polygons[config.siteId] | dump | safe }}{% else %}null{% endif %};
	 var openstadMapDefaults = {
	 		center           : {lat: {{data.global.mapCenterLat}}, lng: {{data.global.mapCenterLng}}},
	 		zoom             : {{data.global.mapZoomLevel}},
	 		zoomControl      : true,
			minZoom			 : {{(data.global.mapZoomLevel - 1) if data.global.mapZoomLevel else 12}},
			maxZoom          : 17,
	 		disableDefaultUI : true,
			styles 			 : {% if apos.settings.getOption('openStadMap').defaults.styles  %}{{ apos.settings.getOption('openStadMap').defaults.styles | dump | safe }}{% else %}null{% endif %}
	 	};

	</script>
