<h2 class="edit-header">Bewerken</h2>

<form action="{{data.global.editIdeaUrl}}" method="GET">
  <input type="hidden" name="ideaId" value="{{idea.id}}" />
  <button type="submit" class="edit">Bewerk plan</button>
</form>


<form method="POST" action="/modules/idea-form-widgets/submit" id="deleteIdea" class="ajax-form">
  <input type="hidden" name="ideaId" value="{{idea.id}}" />
  <input type="hidden" name="action" value="DELETE" />
  <button type="submit" class="delete" onclick="return confirm('Zeker?')">Verwijder plan</button>
  <input type="hidden" name="redirect-url" class="redirect-url"  value="/{{data.global.ideaOverviewSlug}}"  />
</form>
