{% set pageTitle = 'Jouw plan insturen' %}
{% set showForm = true %}
{% set idea = data.idea %}
{% set isOwner = data.openstadUser.id === idea.userId %}
{% set isOwnerOrAdmin =(isOwner or data.isAdmin) %}

{{ apos.log (data.openstadUser) }}

{% if idea and isOwnerOrAdmin %}
{% set showForm = true %}
{% elseif (not idea) and data.openstadUser and data.openstadUser.id and data.openstadUser.role !== 'anonymous' and data.openstadUser.id != 1 %}
{% set showForm = true %}
{% else %}
{% set showForm = false %}
{% endif %}

{% if data.widget.editorDescription %}
{% set useModernEditor = true %}
{% else %}
{% set useModernEditor = false %}
{% endif %}

<div class="pageContent newIdea" id="content">
	{% if not showForm %}
	<div class="box-grey">
		<a href="/oauth/login" class="full-link-btn"></a>

		<h1>Om een plan in te dienen moet je ingelogd zijn.</h1>
		<a href="/oauth/login" class="btn btn-primary" style="color:white">Log in</a>
	</div>
	{% elseif showForm %}
		<div  id="formulier-block">
			<form method="post" id="js-form" action="/modules/idea-form-widgets/submit" class="idea-form">
					<div id="titleAndSummary">
						<div class="form-group">
							<h2>Naam</h2>
							<p>
								{{data.openstadUser.firstName}} {{data.openstadUser.lastName}} <em>(je e-mailadres wordt nooit gepubliceerd)</em>
							</p>
						</div>
						<div class="form-group">
							<h2>
								{{ data.widget.labelTitle if data.widget.labelTitle else 'Titel plan' }}
							</h2>
							<div class="form-info">
								{{ data.widget.infoTitle | safe if data.widget.infoTitle else 'Geef je voorstel een duidelijke titel, zodat anderen jouw inzending makkelijk kunnen vinden en direct snappen waar het over gaat.' }}
							</div>
							<input type="text" name="title" value="{{idea.title}}" {% if data.widget.requiredTitle %}required{% endif %}
								   minlength="{{data.widget.minTitle}}"
								   maxlength="{{data.widget.maxTitle}}"><br />
							<input type="hidden" id="extraData" name="extraData" value=""><br />
						</div>
						<div class="form-group">
							<h2>
								{{ data.widget.labelSummary if data.widget.labelSummary else 'Samenvatting' }}
							</h2>
							<div class="form-info">
								{{ data.widget.infoSummary | safe if data.widget.infoSummary else 'Vertel in maximaal {data.widget.maxSummary} tekens iets meer over je plan.' }}
							</div>

							{% if data.widget.typeSummary === 'text'  %}
							<input type="text" name="summary" minlength="{{data.widget.minSummary}}" maxlength="{{data.widget.maxSummary}}"  {% if data.widget.requiredSummary %}required{% endif %} value="{{idea.summary}}">
							{% else %}
							<textarea name="summary" minlength="{{data.widget.minSummary}}" maxlength="{{data.widget.maxSummary}}"  {% if data.widget.requiredSummary %}required{% endif %}>{{idea.summary}}</textarea>
							{% endif %}

							<div id="charsLeft">Je hebt nog <span>{{data.widget.maxSummary}}</span> tekens over.</div>
						</div>
					</div>

				<div class="form-group">
					<div id="description">
						<h2>
							{{ data.widget.labelDescription if data.widget.labelDescription else 'Beschrijving' }}
						</h2>
						<div class="form-info">
							{{ data.widget.infoDescription if data.widget.infoDescription else 'Gebruik de ruimte hieronder om je plan uitgebreider toe te lichten. Houd er rekening mee dat de lezer van je omschrijving een medebewoner is die misschien wel op jouw plan wil stemmen.' }}


							{% if data.widget.listDescription %}
							<ul class="checkmark-list">
								{% for item in data.widget.itemsDescription %}
								<li class="parent-item">
									{{ item.listitem | safe }}
								</li>
								{% endfor %}
							</ul>
							{% endif %}


						</div>

						{% if useModernEditor %}
						<trix-toolbar id="trixToolbar">
							<div class="button_row">
									<span class="button_group text_tools">
										<button type="button" class="icon heading-1" data-trix-attribute="heading1" title="Titel">Heading</button>
										<button type="button" class="icon bold" data-trix-attribute="bold" data-trix-key="b" title="Vetgedrukt">Bold</button>
										<button type="button" class="icon italic" data-trix-attribute="italic" data-trix-key="i" title="Cursief">Italic</button>
										{# <button type="button" class="icon strike" data-trix-attribute="strike" title="Doorstrepen">Strikethrough</button> #}
										<button type="button" class="icon link" data-trix-attribute="href" data-trix-action="link" data-trix-key="k" title="Link">Link</button>
									</span>

								<span class="button_group text_tools">
										{# <button type="button" class="icon quote" data-trix-attribute="quote" title="Quote">Quote</button>
										<button type="button" class="icon code" data-trix-attribute="code" title="Code">Code</button> #}
										<button type="button" class="icon list bullets" data-trix-attribute="bullet" title="Opsomming">Bullets</button>
										<button type="button" class="icon list numbers" data-trix-attribute="number" title="Genummerde lijst">Numbers</button>
										<button type="button" class="icon nesting-level decrease" data-trix-action="decreaseNestingLevel" title="Inspringen vergroten" disabled="">Decrease Level</button>
										<button type="button" class="icon nesting-level increase" data-trix-action="increaseNestingLevel" title="Inspringen verkleinen" disabled="">Increase Level</button>
									</span>

								{# <span class="button_group history_tools">
									<button type="button" class="icon undo" data-trix-action="undo" data-trix-key="z" title="Undo" disabled="">Undo</button>
									<button type="button" class="icon redo" data-trix-action="redo" data-trix-key="shift+z" title="Redo" disabled="">Redo</button>
									</span> #}
							</div>

							<div class="dialogs">
								<div class="dialog link_dialog" data-trix-attribute="href" data-trix-dialog="href">
									<div class="link_url_fields">
										<input type="url" required="" name="href" placeholder="Enter a URL…">
										<div class="button_group">
											<input type="button" value="Link" data-trix-method="setAttribute">
											<input type="button" value="Unlink" data-trix-method="removeAttribute">
										</div>
									</div>
								</div>
							</div>
						</trix-toolbar>
						<trix-editor id="js-editor" class="userContentEditor" input="js-description" toolbar="trixToolbar"></trix-editor>
						<input
								type="hidden"
								id="js-description"
								name="description"
								value="{{idea.description}}"
								required
								minlength="{{data.widget.minDescription}}"
								maxlength="{{data.widget.maxDescription}}"
						/>
						{% else %}
						<textarea name="description" id="description-textarea" {% if data.widget.requiredDescription %}required{% endif %}>{{idea.description}}</textarea>
						{% endif %}

					</div>

					<input class="idea-form-redirect-uri" type="hidden" name="redirect" value="{{data.widget.redirect}}" />

					<div id="charsLeftMain">Nog minimaal <span>{{data.widget.maxDescription}}</span> tekens.</div><br/><br/>

					{% if idea.id %}
					<input type="hidden" name="id" value="{{idea.id}}" />
					<input type="hidden" name="_method" value="PUT" />
					{% endif %}
				</div>
					<div class="form-group">
						{% if data.global.areas and data.global.areas.length > 0 %}
						<h2>
							{{ data.widget.labelAreas if data.widget.labelAreas else 'Gebied' }}
						</h2>
						<div class="form-info">
							{{ data.widget.infoAreas | safe if data.widget.infoAreas else 'Selecteer het gebied waarop jouw plan betrekking heeft. Gaat het niet over een specifiek gebied? Kies dan voor algemeen.' }}
						</div>
						<select id="gebied" class="default-select" name="area" value="{% if idea.extraData %}{{idea.extraData.area}}{% endif %}">
							<option value="">Kies gebied</option>
							{% for area in data.global.areas %}
								<option value="{{area.value}}" {% if (idea.extraData) and (idea.extraData.area === area.value) %}selected{% endif %}>{{area.value}}</option>
							{% endfor %}
						</select>
						<br />
						{% endif %}
					</div>
					<div class="form-group">
						{% if data.global.themes and data.global.themes.length > 0 %}
						<h2>
							{{ data.widget.labelThemes if data.widget.labelThemes else 'Thema' }}
						</h2>
						<div class="form-info">
							{{ data.widget.infoThemes | safe if data.widget.infoThemes else 'Selecteer het thema waarop jouw plan betrekking heeft.' }}
						</div>

						<select id="thema" name="theme" class="default-select" value="{% if idea.extraData %}{{idea.extraData.theme}}{% endif %}"  {% if data.widget.requiredThemes %}required{% endif %}>
							<option value="">Kies thema</option>
							{% for theme in data.global.themes %}
							<option value="{{theme.value}}" {% if (idea.extraData) and (idea.extraData.theme == theme.value) %}selected{% endif %}>{{theme.value}}</option>
							{% endfor %}
						</select>
						<br />
						{% endif %}
					</div>

					<div class="form-group">
						<div id="imageUpload">
							<h2>
								{{ data.widget.labelImages if data.widget.labelImages else 'Plaatjes' }}
							</h2>
							<div class="form-info">
							 {{ data.widget.infoImages | safe if data.widget.infoImages else 'Let op: Stuur alleen een foto mee die je zelf gemaakt hebt! Foto\'s van anderen kunnen auteursrechtelijk beschermd zijn. Je hebt toestemming nodig van de fotograaf om die foto te uploaden.' }}
							</div>
							<fieldset class="filepondFieldset">
								<!-- a list of already uploaded files -->
								<script>
									var ideaFiles = [];
									<!-- a list of already uploaded files -->
									{% if idea.extraData.images %}
									{% for image in idea.extraData.images %}
									ideaFiles.push({
										source: '{"url":"{{image}}"}',
										options : {
											type: 'local',
													// mock file information
											 file: {
													 name: '{{image}}',
											//		 size: 3001025,
												//	 type: 'image/png'
											},
											metadata: {
		                    poster: '{{image}}',
		                	}
										}

									});
									{% endfor %}
									{% endif %}
								</script>
								<input type="file" class="imageUploader filepond" {% if data.widget.uploadMultiple %} multiple {% endif %} {% if data.widget.requiredImages %}required{% endif %}/ >

							</fieldset>
							<input type="hidden" name="validateImages" multiple />
						</div>
					</div>

					{% if data.widget.displayLocation %}
					<div class="form-group">
						<div id="location">
							<h2>
								{{ data.widget.labelLocation if data.widget.labelLocation else 'Locatie' }}
							</h2>
							<div class="form-info" style="height: auto;">
								{{ data.widget.infoLocation | safe if data.widget.infoLocation else 'Heeft jouw plan betrekking op een specifieke plek? Klik dan op de juiste locatie in de kaart om een vlaggetje te plaatsen. Verwijder het vlaggetje door hem nogmaals aan te klikken.' }}
							</div>
							<div id="mapcontainer">
								{% set editorInputElementId = 'locationField' %}
								{% include 'includes/openstad-map.html'  %}
							</div>
						</div>
					</div>
					{% endif %}

				{% if data.widget.displayEstimate %}
				<div id="estimate">
					<h2>{{ data.widget.labelEstimate if data.widget.labelEstimate else 'Inschatting kosten' }}</h2>
					<div class="form-info" style="height: auto;">{% if data.widget.infoEstimate %}
						{{ data.widget.infoEstimate | safe}}
					{% else %}
						Geef een inschatting van wat jouw plan kost. Vind je dit moeilijk, dan kun je ook het <a href="mailto:statenkwartierbegroot@denhaag.nl">stadsdeel</a> vragen om je daarbij te helpen. Als andere organisaties willen meebetalen aan het plan, kun je dat ook hier aangeven.
					{% endif %}</div>
					{% if data.widget.typeEstimate === 'textarea'  %}
					<textarea id="estimate_input" name="estimate">
						{% if idea.extraData and idea.extraData.estimate %}
						{{idea.extraData.estimate}}
						{% endif %}
					</textarea>
					{% else %}

					<input type="text" id="estimate_input" name="estimate"
						   {% if idea.extraData.estimate %}
						   value="{{idea.extraData.estimate}}"
						   {% endif %}
					>
					{% endif %}

				</div>
				{% endif %}

				{% if data.widget.displayRole %}
				<div id="role">
					<h2>{{ data.widget.labelRole if data.widget.labelRole else 'Welke rol ga je zelf vervullen bij de uitvoering?' }}</h2>
					<div class="form-info" style="height: auto;">{{ data.widget.infoRole if data.widget.infoRole else 'Bewoners kunnen zelf of samen met de gemeente of een andere organisatie een plan uitvoeren. Geef aan welke rol je hierin wilt en kunt vervullen.' }}</div>

					{% if data.widget.typeRole === 'text'  %}
					<input type="text" id="role_input" name="role" value="{% if idea.extraData and idea.extraData.role %}{{idea.extraData.role}}{% endif %}">
					{% else %}
					<textarea id="role_input" name="role">{% if idea.extraData and idea.extraData.role %}
						{{idea.extraData.role}}
						{% endif %}</textarea>
					{% endif %}
				</div>
				{% endif %}

				{% if data.widget.displayPhone %}
				<div id="phone">
					<h2>{{ data.widget.labelPhone if data.widget.labelPhone else 'Telefoonnummer (optioneel)' }}</h2>
					<div class="form-info" style="height: auto;">{{ data.widget.infoPhone if data.widget.infoPhone else 'Vul hier (optioneel) je telefoonnummer in, zodat we snel contact met je kunnen opnemen over je plan.' }}</div>
					<input type="text" id="phone_input" name="phone" value="{% if idea.extraData and idea.extraData.phone %}{{idea.extraData.phone}}{% endif %}">
				</div>
				{% endif %}

					{% if data.widget.displayAdvice %}
					<div class="form-group">
						<div id="location">
							<h2>
								{{ data.widget.labelAdvice if data.widget.labelAdvice else 'Tip' }}
							</h2>
							<div class="form-info" style="height: auto;">
								{{ data.widget.infoAdvice | safe if data.widget.infoAdvice else 'Geef een tip aan Amsterdammers die ook zo’n dak of balkon willen.' | safe }}
							</div>

							<textarea name="advice">{% if idea.extraData and idea.extraData.advice %}
						{{idea.extraData.advice}}
						{% endif %}</textarea>
						</div>
					</div>
					{% endif %}

				{% if idea %}
				<input type="hidden" name="ideaId" value="{{idea.id}}">
				{% endif %}

				{% if idea %}
				<input type="submit" class="btn btn-primary" value="{{ data.widget.buttonTextSave if data.widget.buttonTextSave else 'Opslaan' }}">
				{% else %}
				<input type="submit" class="btn btn-primary" value="{{ data.widget.buttonTextSubmit if data.widget.buttonTextSubmit else 'Versturen' }}">
				{% endif %}
			</form>
		</div>

		{% if idea %}
		<br />
		<div class="form-edit-block">
			<div class="row">
				<div class="col-xs-12">
					<h4> Beheren </h4>
				</div>
				{% if data.isAdmin %}
				<div class="col-sm-4 col-xs-12">

				<form method="POST" class="idea-status-form" action="/modules/idea-form-widgets/submit">
					<input type="hidden" name="action" value="UPDATE_STATUS">
					<div class="row">
						<div class="col-xs-6">
							<select name="status"  class="button status default-select">
								<option {{'selected' if idea.status=='OPEN'}}     value="OPEN">    Status: Open</option>
								<option {{'selected' if idea.status=='CLOSED'}}     value="CLOSED">    Status: Gesloten</option>
								<option {{'selected' if idea.status=='DENIED'}}   value="DENIED">  Status: Afgewezen</option>
							</select>
						</div>
					</div>


					<input type="hidden" name="ideaId" value="{{idea.id}}">
					<input type="hidden" name="_method" value="PUT">
				</form>
				</div>
				{% endif %}
				<div class="col-sm-4 col-xs-12">
				<form method="post" class="idea-delete-form" action="/modules/idea-form-widgets/submit" >
					<input type="hidden" name="idea-delete-redirect-uri" class="idea-delete-redirect-uri"  value="/{{data.global.ideaOverviewSlug}}" />

					<input type="hidden" name="ideaId" value="{{idea.id}}">
					<input type="hidden" name="action" value="DELETE">
					<input type="submit" value="Plan verwijderen" style="background: red; float: none;" onclick="return confirm('Zeker?')">
				</form>
				</div>


		<!--		<form method="GET" action="/plan/{{idea.id}}/mod_break">
					<button type="submit" class="modBreak">Moderator reactie</button>
				</form>
	!-->
			</div>

		</div>
		{% endif %}



	{% endif %}
</div>
<script src="https://unpkg.com/filepond-polyfill/dist/filepond-polyfill.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
