<div class="row">
  <div class="col-xs-12 col-sm-8">
    {% if (data.global.areas and data.global.areas.length > 0) or (data.global.themes and data.global.themes.length > 0) %}
    <div class="tab-selector">
      {% if (data.global.themes and data.global.themes.length > 0) %}
      <select id="themaSelector" class="default-select" onchange="activateIdeaOverviewTab(this.selectedIndex)">
        <option value="0">Alle thema's</option>
        {% for theme in data.global.themes %}
        <option value="{{theme.value}}">{{theme.value}}</option>
        {% endfor %}
      </select>
      {% endif %}
      {% if (data.global.areas and data.global.areas.length > 0) %}
      <select id="filterSelector" class="default-select" onchange="activateIdeaOverviewFilter(this.selectedIndex)">
        <option value="0">Alle gebieden</option>
        {% for area in data.global.areas %}
        <option value="{{area.value}}">{{area.value}}</option>
        {% endfor %}
      </select>
      {% endif %}
      <a class="no-button inactive" href="javascript: void deactivateIdeaOverviewAll()">Wissen</a>
    </div>
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="sort">
      <select class="default-select">
        <option {{'selected' if not sort or data.query.sort == 'createdate_desc'}} value="createdate_desc">Nieuwste eerst</option>
        <option {{'selected' if data.query.sort == 'createdate_asc'}} value="createdate_asc">Oudste eerst</option>
      </select>
    </div>
  </div>
</div>
