{% import 'numberplatebutton.html' as numberPlateButton %}

      <script>
    	 var imageUrl = {};

    	 function doShowImage(ideaId, target) {
    		 var div = target.querySelector('div.image');
    		 if (div) {
    			 div.style.height = target.offsetWidth + 'px';
    			 var img = div.querySelector('div.image-upload');
    			 img.style.backgroundImage = "url('" + imageUrl[ideaId] + "')";
    /*
    			 var factor = target.offsetWidth / 300;
    			 img.style.top    = Math.round( 23 * factor ) + 'px';
    			 img.style.left   = Math.round( 46 * factor ) + 'px';
    			 img.style.width  = Math.round( 210 * factor ) + 'px';
    			 img.style.height = Math.round( 263 * factor ) + 'px';
    			 img.style.backgroundSize = Math.round( ( imageData[ideaId].width / 415 ) * 210 * factor ) + 'px ' + Math.round( ( imageData[ideaId].height / 520 ) * 263 * factor ) + 'px';
    		//	 img.style.backgroundPosition = Math.round( ( imageData[ideaId].left / 415 ) * 210 * factor ) + 'px ' + Math.round( ( imageData[ideaId].top / 520 ) * 263 * factor ) + 'px';
    */
    				img.style.top    = '0px';
    				img.style.left   = '0px';
    				img.style.width  = '100%';
    				img.style.height = '100%';
    				img.style.backgroundSize = 'cover';
    		 }
    	 }

    	 var isPhone = document.querySelector('body').offsetWidth < 700; // isPhone - todo: betere afvanging

    	</script>
    	<ul id="ideaList" class="gridder" onclick="handleClick(event);">
    		<!-- You can load specify which content is loaded by specifying the #ID of the div where the content is  -->
    		{% for idea in data.ideas %}
        <li id="idea-{{idea.id}}" class="gridder-list idea-item {% if data.openstadUser.id === idea.userId %}owner{% endif %} {{idea.status}}  {% if loop.index % 3 === 0 %} third-item {% endif %}" data-griddercontent="#ideaContent{{idea.id}}" onmouseover="this.querySelector('.gridder-mouse-over').style.display = 'block';" onmouseout="this.querySelector('.gridder-mouse-over').style.display = 'none';">
    			<div class="image-container" style="position: relative;">
    				<div class="image">
    					<div class="image-upload"></div>
    				</div>
    				<div class="gridder-mouse-over">
    					<div class="background">
    					</div>
              <div class="vertically-centered">
      					<div class="one-button button-more-info{% if userHasVoted %} centered{% endif %}">
                  {{ data.widget.gridder_text_open if data.widget.gridder_text_open else 'Bekijk' }}
      					</div>
                {% if data.widget.voting and not userHasVoted %}
                  <div class="button-vote" onclick="event.preventDefault();selectIdea({{idea.id}})">
                    {{ data.widget.gridder_text_vote_button if data.widget.gridder_text_vote_button else 'Stem' }}
                  </div>
                {% endif %}
              </div>
    				</div>
    			</div>
    			<div class="info">
    				<h3>{{idea.title}}</h3>
    			</div>
          <div style="display:none">
            {% if idea.extraData %}
              <div class="thema">{{idea.extraData.theme}}</div>
              <div class="gebied">{{idea.extraData.area}}</div>
            {% endif %}
          </div>
    			<script>
           {% if (idea.extraData) and (idea.extraData.images) %}
           imageUrl[{{idea.id}}] = "{{data.widget.formatImageUrl(idea.extraData.images[0], 500, 500, true)}}";
           doShowImage({{idea.id}}, document.querySelector('#idea-{{idea.id}}'))
           {% endif %}
    			</script>
    		</li>{% endfor %}
    	</ul>

    	{% for idea in data.ideas %}
    		<div id="ideaContent{{idea.id}}" class="gridder-content ">
          <div class="gridder-inner-container {{idea.status}}">
                <div class="thisIdeaId">{{idea.id}}</div>
          			<h3 class="phone">{{idea.title}}</h3>
          			<div class="image-and-vote-button-container">
          				<div class="image-mask">
          					<div class="image-container">
          						<div class="image" style="/*cursor: url('/img/vergrootglas.png'), pointer;*/">
                          <div class="fotorama"
                    				data-nav="thumbs"
                    				data-allowfullscreen="true"
                    				data-ratio="400/300"
                    				data-fit="cover"
                    				data-thumbwidth="105"
                    				data-thumbheight="105"
                    				data-auto="true"
                  				>
                          {% if (idea.extraData) and (idea.extraData.images) %}
                          {% for image in idea.extraData.images %}
                            <a href="{{data.widget.formatImageUrl(image, 1400, 1400, false)}}"></a>
                          {% endfor %}
                          {% endif %}
                  				</div>
          						</div>
          					</div>
          				</div>
                  {% if data.widget.voting %}
                  <div class="vote-button-container hasVoted{% if userHasVoted %} active{% endif %}{% if idea.yes > 10000 %} gt10000{% elif idea.yes > 1000 %} gt1000{% endif %}">
                    {% set id = 'no-of-votes-hasvoted-' + idea.id %}
                    {{numberPlateButton.numberPlateButton(id, 'no-of-votes-hasvoted', '', idea.yes, '', 'transparent')}}
                    <div class="vote-button"></div>
                  </div>
                  <div class="vote-button-container hasNotVoted{% if not userHasVoted %} active{% endif %}{% if idea.yes > 10000 %} gt10000{% elif idea.yes > 1000 %} gt1000{% endif %}" >
                    {% set id = 'no-of-votes-hasnotvoted-' + idea.id %}
                    {{numberPlateButton.numberPlateButton(id, 'no-of-votes-hasnotvoted', '', idea.yes, '', 'transparent')}}
                    <a href="#" class="vote-button" onclick="selectIdea({{idea.id}})"></a>
                  </div>
                  {% endif %}

          			</div>
          			<div class="content">
          				<h3 class="desktop">{{idea.title}}</h3>
          				<div class="summary">{{idea.summary}}</div>
          				<div class="description">{{idea.description | safe | nlbr}}</div>

                  {% if idea.extraData.advice %}
                  <b> Tip </b>
                  <div class="tip description">{{idea.extraData.advice | nlbr}}</div>
                  {% endif %}

                  {% include 'modbreak.html' %}

          				{% if data.openstadUser.id === idea.userId or data.isAdmin %}
          					<div class="description"><a href="{{data.global.editIdeaUrl}}?ideaId={{idea.id}}" target="_blank">Bewerk dit plan</a></div>
          				{% endif %}

          				<div class="share-spacer"></div>
          				<div class="share-buttons">
                    <table class="table-center">
                      <tr>
                        <td>
          					      <b class="text">Deel dit:</b>
                        </td>
                        <td>
                					<ul class="share">
                						<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{idea.overviewUrl}}">Facebook</a></li>
                						<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{idea.overviewUrl}}">Twitter</a></li>
                						<li><a class="email"    target="_blank" href="mailto:?subject={{idea.title | urlencode}}&body={{idea.overviewUrl | urlencode}}">Email</a></li>
                            <li><a class="whatsapp" target="_blank" href="https://wa.me/?text={{idea.overviewUrl}}">WhatsApp</a></li>
                          </ul>
                        </td>
                      </td>
                    </tr>
                  </table>
          				</div>
          			</div>
          </div>

    		</div>
    	{% endfor %}
