<div class="tile-list">{% for idea in data.ideas %}<div
  class="tile idea-item {{idea.status}} {{'USER' if data.openstadUser.id === idea.userId}}"
  {% if idea.extraData.images[0] %}
  data-poster-url="{{data.widget.formatImageUrl(idea.extraData.images[0], 600, 360, true)}}"
  {% endif %}
>
  {{apos.log(idea)}}

  <a href="/{{data.global.ideaSlug}}/{{idea.id}}">
    {% if idea.status != 'DENIED' %}
      <!--
           <div class="ranking"><div class="label">{{idea.ranking}}</div></div>
      -->
    {% endif %}

    <div class="image" style="background-image: url({{data.widget.formatImageUrl(idea.extraData.images[0], 600, 360, true)}})"></div>

    <div class="duration">
      {% if idea.status == 'DENIED' %}
        Dit voorstel is afgewezen
      {% elif idea.status == 'CLOSED' %}
        De stemperiode is afgelopen
      {% endif %}
    </div>

    <div class="info">
      <h3>{{idea.title}}</h3>
      {% if idea.extraData %}
        <div class="thema">{{idea.extraData.theme}}</div>
        <div class="gebied">{{idea.extraData.area}}</div>
      {% endif %}
      <p>{{idea.summary | safe | truncate(60) }}</p>
      <div class="ideaProgress">
        <div class="progress"><div class="bar {{idea.status}}" style="width: {{idea.progress}}%;"></div></div>
      </div>
      <div class="ideaStats">
        <table width="100%" border="0" celpadding="0" cellspacting="0">
          <tr>
            <td align="left"><div class="count yes">{{idea.yes}}</div></td>
            <td align="center"><div class="count no">{{idea.no}}</div></td>
            <td align="right"><div class="count arguments">{{idea.argCount}}</div></td>
          </tr>
        </table>
      </div>
    </div>
  </a>
</div>{%
      else %}
<i>Wees de eerste met een goed plan voor jouw buurt!</i>
{% endfor %}</div>
