{#
todo: steps zouden op id moeten, niet op nummer
todo: showstep zou hidestep(current) moeten doen
todo: ik ben begonnen met een generiek en een speciek deel maar het generieke deel is nog veel te specifiek
#}

{% macro showVoteCreator(open, runningIdeas, data) %}

	{{openOrClosed}}

	{% if open %}
	{% set openOrClosed = 'open' %}
	{% else %}
	{% set openOrClosed = 'closed'  %}
	{% endif %}

	<div class=" {{contentClass}}">

		<div id="vote-creator-anchor"></div>

		<div id="vote-creator" class="{{openOrClosed}}">

			{# TODO: naar config #}
			<a id="vote-creator-button" href="javascript: void toggleVoteCreator()" style="outline: 0;">Stemmen<img id="arrow" src="/img/arrow_down_black.svg" width="13" heigh="13" style="display: inline-block; margin-left: 12px;"/></a>

			<div id="steps-bar">
				<div id="steps-bar-1" class="step active">
					<div class="content">1. Kies</div>
				</div>
				<div id="steps-bar-2" class="step">
					<div class="content">2. Verificatie</div>
				</div>
				<div id="steps-bar-3" class="step">
					<div class="content">3. Bevestig</div>
				</div>
			</div>
			<div id="steps-content">

				<div id="steps-content-1a" class="step active">
					<div class="content">
						{{data.widget.step_1_intro}}

						<input type="hidden" name="ideaId" value="">
						<div class="preview-container" onclick="clickPreview(event)">
							<div class="preview" onclick="clickPreview(event)">
								<div class="nothingYet">
									<div class="text">
										{{data.widget.placeholder_empty_item}}
									</div>
								</div>
							</div>
							<div class="preview-overlay" onclick="unSelectIdea(event)">
								&times;
							</div>
						</div>
					</div>
				</div>

				<div id="steps-content-2a" class="step">
					<div class="content">
						<div class="vote-not-logged-in">
							{{data.widget.step_2_intro}}
						</div>
						<div id="zipcode-and-email" class="form">
							<div class="preview" onclick="clickPreview(event)">
								<div class="nothingYet">
									<div class="text">
										{{data.widget.placeholder_empty_item}}
									</div>
								</div>
							</div>
							<div class="fields">
								<div class="vote-not-logged-in">
									<a href="/oauth/login?returnTo={{data.currentUrl}}" class="button-stemcode vul-je-stemcode-in" onmouseover="removeFromClassName(this, 'do-this-first');">
										{{data.widget.button_authenticating}}
									</a>
								</div>
								<div class="vote-logged-in">
									<div class="button-stemcode geldige-code">Geldige e-mailadres</div>
									{{data.widget.step_2_succesfull_auth}}

									{% if data.ideasVotedFor.length > 0 %}
									<div class="info-block error warning">
										Je hebt al gestemd. Als je nog een keer stemt<br/>
										wordt je vorige stem overschreven
									</div>
									{% endif %}
								</div>

							</div>
						</div>
					</div>
				</div>

				<div id="steps-content-3a" class="step">
					<div class="content">
						<div id="zipcode-and-email">
							<div class="preview" onclick="clickPreview(event)">
								<div class="nothingYet">
									<div class="text">
										{{data.widget.placeholder_empty_item}}
									</div>
								</div>
							</div>
							<div class="fields">
								<div id="email">
									<label>E-mailadres: {{data.openstadUser.email}}</label> <br/>
									<span id="showEmailError"></span>
								</div>
							</div>
						</div>

						<div class="checkmark-block-green">
							<h4>Gelukt, je stem is opgeslagen!</h4>
							<br />
							Bedankt voor het stemmen. Hou deze website<br/>
							in de gaten voor de uitslag.
						</div>
					</div>
				</div>

				<div id="steps-content-error" class="step">
					<div class="content">
						<h4 class="error">Het opslaan van je stem is niet gelukt</h4>

						<div class="info-block error">
							Er is iets misgegaan bij het opslaan van je stem.<br/>
							Probeer het later nog eens of neem contact op met de site beheerder.
						</div>
						<div id="zipcode-and-email">
							<div class="preview" onclick="clickPreview(event)">
								<div class="nothingYet">
									<div class="text">
										{{data.widget.placeholder_empty_item}}
									</div>
								</div>
							</div>
							<div class="fields">
								<div id="email">
									<label>E-mailadres: {{data.openstadUser.email}}</label><span id="showEmailError"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div style="height: 50px;"></div>
				<div id="button-bar">
					<div id="previous-button" onclick="previousStep();">
						Vorige
					</div>
					<div id="next-button" onclick="nextStep();">
						Volgende
					</div>
				</div>
			</div>
			<div id="waitLayer"></div>
		</div>
	</div>

	{% include "vote-creator-config.html" ignore missing %}



	<script>

		function openstadGetCookie(name) {
		  var match = document.cookie.match(new RegExp("(?:^|;\\s*)\\s*" + name +"=([^;]+)\\s*(?:;|$)"));
		  var value;

			if (match) {
		    value = match[1];
		  }

		  try {
		    value = JSON.parse(value);
		  } catch(err) {}

		  return value;
		}

		var siteId 	= {{data.global.siteId}};
		var stepNo  = '{{stepNo}}'           || openstadGetCookie('stepNo')		    || '';
		var ideaId  = '{{userVoteIdeaId}}'   || openstadGetCookie('ideaId')		    || '';
		var zipCo   = '{{user.zipCode}}'     || openstadGetCookie('zipCode')	    || '';
		var emai    = '{{user.email}}'	     || openstadGetCookie('email')		    || '';
		var hasVoted     = '{{userHasVoted}}'     || openstadGetCookie('hasVoted')     || '';
		var hasConfirmed = '{{userHasConfirmed}}' || openstadGetCookie('hasConfirmed') || '';

/*	 window.onload = function(){
		 var match = window.location.search.match(/ideaId=(\d+)/);
		 if (match) {
			 showIdeaId = match[1];
		 };
		 if (showIdeaId) {
			 document.querySelector('#idea-' + showIdeaId).click()
		 }


	 }*/

	</script>

{% endmacro %}
