{% import 'vote-creator.html' as voteCreator %}

<div class="hide-when-loaded" style="text-align: center; padding: 30px 0;">
	{{ __('Loading...') }}
</div>
<div id="idea-overview-container" class="idea-overview-container opacity-0-for-load">
  {% if data.widget.voting %}
    {{ voteCreator.showVoteCreator(true, data.ideas, data) }}
  {% endif %}
  <div class="ideasList">
    {% include 'filters.html' %}
    <br />

    <div id="ideas" class="primary">

      {% if not data.ideas or data.ideas.length === 0 %}
      <h3 style="text-align: center;"> <em><a href="/plan-indienen"> Dien als eerste je plan in! </a></em> </h3>
      {% else %}

      {% if data.widget.displayType === 'minimalVotes' %}
      {% include 'minimalVotes.html' %}
      {% endif %}

      {% if data.widget.displayType === 'gridder' %}
      {% include 'gridder.html' %}
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>


<!--
<script src="/js/fotorama-4.6.4.min.js"></script>
!-->

<script>
 // tab selector functions
 // var activeTab = getCookie('plannenActiveTab') || 0;

 // function activateIdeaOverviewTab(which) {
 //  	 document.getElementById('themaSelector' + activeTab).className = document.getElementById('themaSelector' + activeTab).className.replace(/ ?active/, '');
 //  	 activeTab = which;
 //  	 document.cookie = 'plannenActiveTab=' + activeTab;
 //  	 document.getElementById('themaSelector' + activeTab).className += ' active';
 //  	 updateDisplay();
 // }






</script>
