.speech-bubble {
  border: 3px solid #EC0000;
      border-radius: 12px;
      box-sizing: border-box;
      display: block;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.5em;
      margin-bottom: 40px;
      padding: 18px 10px;
      position: relative;
      text-align: center;
      color: #000;
}

.bubble-triangle-icon {
    bottom: -28px;
    height: 28px;
    position: absolute;
    right: 20px;
    width: 83px;
}

.speech-bubble {
  h1, h2, h3, h4, h5 {
    margin: 5px 0;
  }
}
