{% set mayVote = true %}
{% set maySeeReplyForm = true %}

{% if not data.widget.ideaId  %}
  {% set ideaId = data.idea.id %}

  {% if data.widget.argumentSentiment === 'for' %}
  {% set arguments = data.idea.argumentsFor %}
  {% elseif data.widget.argumentSentiment === 'against'  %}
  {% set arguments = data.idea.argumentsAgainst %}
  {% else %}
  {% set arguments = data.idea.arguments %}
  {% endif %}

{% else %}
{% set ideaId = data.widget.ideaId %}
{% set arguments = data.widget.arguments %}
{% endif %}

{% set apiArgumentUrl = '/api/site/' + data.global.siteId + '/idea/' + ideaId + '/argument' %}

{% if arguments.length > 0 %}
{% for arg in arguments %}
  {% set isArgumentOwner = arg.userId === data.openstadUser.id %}
  {% set mayEdit = (data.isAdmin or isArgumentOwner) %}
  {% set mayDelete =  (data.isAdmin or isArgumentOwner) %}
  <div id="argument-container-{{arg.id}}" class="argument-container">
    {% include 'argument.html' %}

    <div class="reaction-container">
    {% for reaction in arg.reactions %}
      {% set isReactionOwner = arg.userId === data.openstadUser.id %}
      {% set mayEdit   = (data.isAdmin or isReactionOwner) %}
      {% set mayDelete = (data.isAdmin or isReactionOwner) %}

      {% include 'reaction.html' %}
    {% endfor %}
    {% include 'reaction-form.html' %}
    </div>
  </div>
{% endfor %}
{% else %}
<div class="noArguments">
  {{data.widget.emptyPlaceholder}}
</div>
{% endif %}
