.preview-file-input{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.uploader  {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background: white;
  opacity: 0.8;
  background-color: #f3f3f3;
  border: solid 1px #000000;

  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    position: relative;
    height:  auto;

    .icon, label {
      display: none;
    }

    .preview-img {
      display: block;
    }
  }

  label {
    position: absolute;
    top: 40%;
    left: 10px;
    right: 10px;
    text-align: center;
    margin-top: 32px;
    font-size: 12px;
  }

  label.error {
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    top: auto;
    text-align: center;
  }

  .icon {
    position: absolute;
    background-image: url('../img/file-icon.png');
    display: block;
    background-size: 100%;
    width: 80px;
    height: 60px;
    top: 40%;
    margin-top: -30px;
    left: 50%;
    margin-left: -40px;
  }

  .preview-img {
    display: none;
    position: relative;
    width: 100%;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
  }
}


#location > div {
  height: 350px;
}
