{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }} | {{data.global.siteTitle}}
  {% elseif data.page %}
    {% if data.page.metaTitle %}
    {{data.page.metaTitle}}
    {% else %}
    {{ data.page.title }} | {{data.global.siteTitle}}
    {% endif %}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
{{ palette.stylesheetLink(data.global) }}
{{ palette.stylesheetTag() }}

{% for stylesheet in data.global.stylesheets %}
<link rel="stylesheet" href="{{stylesheet.url}}">
{% endfor %}
{% if data.global.favicon %}
<link rel="icon" href="{{apos.attachments.url(data.global.favicon)}}">
{% endif %}

{% if data.idea %}
{% set activeIdea = data.idea %}
<meta property="og:title" content="{{activeIdea.title}}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{activeIdea.summary}}">
<meta property="og:locale" content="nl_NL">

{% if activeIdea.extraData.images[0] %}
<meta property="og:image" content="{{activeIdea.extraData.images[0]}}/:/rs=w:600,h:315">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="315">
{% endif %}

{% else %}
  {% if data.global.fbImage %}
  <meta property="og:image" content="{{apos.settings.getOption('appUrl')}}{{apos.attachments.url(data.global.fbImage)}}">
  {% endif %}
{% endif %}
<script>
  // global variables!
  var authServerLogoutUrl = '{{apos.settings.getOption('apiLogoutUrl')}}';
  var openstadUserRole = '{{data.openstadUser.role}}';
  var currentPath = '{{data.currentPath}}'
</script>

{% if data.global.analytics %}
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', '{{data.global.analytics}}', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
{% endif %}

{% endblock %}
{% block beforeMain %}
{% if data.user %} <!-- be sure to somehow safegaurd against non-editor situations, as performance could unnecessarily suffer -->
  {{ palette.palette(data.global, 'palette') }}
{% endif %}
    {% if not (data.query.layout === 'none') %}
    <header>
        <div class="container relative">
            <div class="row">
                <div class="col-xs-12">
                  <a href="{{appUrl}}/" class="logo-container">
                    {% if data.global.siteLogo %}
                    <img src="{{apos.attachments.url(data.global.siteLogo)}}" alt="logo" id="logo-image">

                    {% else %}
                    <img src="/img/andreas.svg" alt="logo">
                    <div id="amsterdam">
                        Gemeente<br>Amsterdam
                    </div>
                    {% endif %}
                  </a>
                  <div class="header-side-container">
                    <div class="row">
                      <div class="col-sm-7 col-md-6 col-xs-12">
                        <h2 class="header-subtitle">
                          {{data.global.siteTitle}}
                        </h2>
                      </div>
                      <div class="col-sm-5 col-md-6 hidden-xs">
                        {% if data.global.topLinks %}
                        <ul class="top-links">
                        {% for topLink in data.global.topLinks.reverse() %}
                          <li>
                            <a
                              href="{{topLink.url}}"
                              {% if topLink.targetBlank %} target="_blank" {% endif %}
                              class="link-caret--black"
                            >
                              {{topLink.label}}
                            </a>
                          </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                    {% if data.global.translations and data.global.translations.length > 0 %}

                    <div class="language-menu">
                        <ul>
                            {% for translation in data.global.translations %}
                                <li class="language"><a href="{{translation.translationUrl}}">{{translation.translation}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% include 'partials/flash.html' %}
    <div id="page" class="{{ 'cms-admin' if data.user }}">
      <nav id="navbar" class="navbar navbar-static-top">
        <div class="container">
          <button type="button" class="navbar-toggle visibility-toggle body-backdrop-toggle" data-target=".navbar-menu">
            <span class="sr-only">Toggle navigation</span>
            <div class="visible-active">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
            <div class="hidden-active">
              <!--<span class="glyphicon glyphicon-remove"></span>!-->
              <img src="/img/close-icon.svg" width="14" />
            </div>
          </button>
          <a href="#" class="account-menu-toggle visibility-toggle body-backdrop-toggle" data-target=".account-menu">
          <div class="visible-active">
            <img src="/img/avatar.svg" />
          </div>
          <div class="hidden-active">
            <img src="/img/close-icon.svg" width="14" />
          </div>
          </a>
          <div class="account-menu toggle-menu">
            <nav  class="" role="navigation">
              <div>
                  {% if data.global.displayMyAcount %}
                  {% if data.loggedIn %}
                  <a href="/oauth/logout" class="logout-button" >
                  <!--  <span class="glyphicon glyphicon-log-out"></span> !-->
                  <img src="/img/avatar.svg" />
                   {{ __('Log out') }}
                  </a>
                  {% else %}
                   <a href="/oauth/login">
                    <!-- <span class="glyphicon glyphicon-user"></span>  !-->
                     {{ __('My account') }}
                   </a>
                  {% endif %}
                  {% endif %}
              </div>
            </nav>
          </div>
          <div class="navbar-menu toggle-menu">
            <nav id="mainMenu" class="navbar navbar-expand-lg navbar-light ">
              <ul class="nav navbar-left">
                <li class="nav-item">
                  <a href="{{ data.home._url }}" class="nav-link {% if data.originalUrl === '/' %} active {% endif %}">{{ data.home.title }}</a>
                </li>
                {% for tab in data.home._children %}
                <li class="nav-item">
                  <a class="nav-link {% if data.currentPath.startsWith(tab._url) %} active {% endif %}" href="{{ tab._url }}">
                    {{ tab.title }}
                  </a>
                </li>
                {% endfor %}
                {% if data.global.topLinks %}
                <li class="li-spacer visible-xs"></li>
                {% for topLink in data.global.topLinks %}
                  <li class="visible-xs">
                    <a
                      href="{{topLink.url}}"
                      {% if link.targetBlank %} target="_blank" {% endif %}
                      class="nav-link "
                    >
                      <b> {{topLink.label}} </b>
                    </a>
                  </li>
                {% endfor %}
                {% endif %}
              </ul>

        			<nav id="subMenu" class="" role="navigation">
        				<div>
                    {% if data.global.displayMyAcount %}
        						{% if data.loggedIn %}
      							<a href="/oauth/logout" class="account logout-button">
                      <!-- <span class="glyphicon glyphicon-log-out"></span> !-->
                      {{ __('Log out') }}
                    </a>
        						{% else %}
      						   <a href="/oauth/login" class="account">
                       <!-- <span class="glyphicon glyphicon-user"></span>  !-->
                       <img src="/img/avatar.svg" />
                       {{ __('My account') }}
                     </a>
        						{% endif %}
                    {% endif %}

                    {% if data.global.ctaButtonText %}
                    <a href="{{data.global.ctaButtonUrl}}" class="menu-cta-button">{{data.global.ctaButtonText}}</a>
                    {% endif %}
        				</div>
        			</nav>
            </nav>
          </div>
        </div>
      </nav>
    {% endif %}

    {% endblock %}

    {% block main %}
      {#
        Usually, your page templates in the apostrophe-pages module will override
        this block. It is safe to assume this is where your page-specific content
        should go.
      #}
    {% endblock %}


{% block afterMain %}
{% if not (data.query.layout === 'none') %}

<footer>
	<div class="container">
		<div class="row">
      {% for column in data.global.footer %}
      <div class="col-sm-3 col-xs-12">
        <h2>{{column.title}}</h2>
        <p>
          {{column.description}}
        </p>
        <ul>
          {% for link in column.links %}
          <li>
            <a
              href="{{link.url}}"
              {% if link.targetBlank %} target="_blank" {% endif %}
            >
              {{link.label}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</footer>

    <div class="body-background" style="display: none;"></div>

</div>

{% endif %}
{% include 'partials/modal-login-required.html' %}
{% include 'partials/modal-newsletter.html' %}

{% endblock %}
