{% macro showIdeasList(runningIdeas, fullHost, user, userHasVoted, isAdmin) %}

<!-- gridder: https://github.com/oriongunning/gridder -->
<script src="js/jquery.gridder.js"></script>

{# list of ideas #}
<ul id="ideaList" class="gridder" onclick="handleClick(event);">
	{% for idea in runningIdeas %}
	<li id="idea-{{idea.id}}" class="gridder-list" data-griddercontent="#idea-content-{{idea.id}}">
		{% set imageUrl = idea.posterImageUrl if idea.posterImageUrl else '/img/placeholders/idea.jpg' %}
		<div class="idea-image-mask">
			<div class="idea-image" style="background-image: url('{{imageUrl}}')"></div>
			<div class="ranking"><div class="label">{{idea.extraData.ranking}}</div></div>
			<div class="statustext {{idea.status}} ">Dit voorstel wordt uitgevoerd</div>
		</div>

		<div class="info">
			<div class="inner">
				<h3 class="title">{{idea.title}}</h3>
				{% if idea.extraData %}
				<div class="thema-en-gebied underscription">
					<span class="thema">{{idea.extraData.theme}}</span>
					|
					<span class="gebied">{{idea.extraData.area}}</span>
				</div>
				{% endif %}
			</div>
			<div class="button-read-more link-caret--blue">Lees meer</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="budget">{{idea.budget}}</div> {# formatted in js #}
				</div>
				<div class="col-xs-6">
					{% if config.budgeting.isActive %}
					<div class="button-add-idea-to-budget btn--blue stretch"></div>
					{% else %}
					<div class="btn--blue noOfVotes stretch">{{idea.extraData.aantalStemmen}} stemmen</div>
					{% endif %}
				</div>
			</div>
			<div class="budget-value">{{idea.budget}}</div>{# used by sort #}
			<div class="ranking-value">{{idea.extraData.ranking}}</div>{# used by sort #}
		</div>

		{# extra info for gridder-show #}
		<div id="idea-content-{{idea.id}}" class="gridder-content">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="this-idea-id">{{idea.id}}</div>
					<div class="visible-xs">
						<h3 class="grider-title">{{idea.title}}</h3>
					</div>
					<div id="image-location-toggable-{{idea.id}}" class="image-location-toggable">

						<div class="idea-image-container">
							{% set imageUrl = idea.posterImageUrl if idea.posterImageUrl else '/img/placeholders/idea.jpg' %}
							<div class="idea-image-mask">
								<div class="idea-image" style="background-image: url('{{imageUrl}}')"></div>
								{% if not config.budgeting.isActive %}
								<div class="ranking"><div class="label">{{idea.extraData.ranking}}</div></div>
								<div class="statustext {{idea.status}}">Dit voorstel wordt uitgevoerd</div>
								{% endif %}
							</div>
							<div class="image-switch" onclick="toggleImageLocation({{idea.id}})"><img class="arrow" src="/img/arrow_right_white.svg"></div>
						</div>

						{% if idea.location %}
						<div class="location-image-container">
							<div class="location-image-mask">
								<a href="{{idea.extraData.locationUrl}}" target="_blank" class="location-image" style="background-image: url('/img/westbegroot/locaties/{{idea.id}}.png')"></a>
							</div>
							<div class="location-switch" onclick="toggleImageLocation({{idea.id}})"><img class="arrow" src="/img/arrow_right_white.svg"></div>
						</div>
						{% endif %}

					</div>

					<div class="visible-xs">
						<br />
						<div class="intro">
							{{idea.summary | safe}}
						</div>
						<div class="description">
							{{idea.description | safe}}
						</div>
					</div>
					<div class="share-buttons">
						<table class="table-center">
							<tr>
								<td>
									<b> Deel dit plan: </b>
								</td>
								<td>
									<ul class="share">
										<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{fullHost}}/begroten?showIdea={{idea.id}}">Facebook</a></li>
										<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{fullHost}}/begroten?showIdea={{idea.id}}">Twitter</a></li>
										<li><a class="email"    target="_blank" href="mailto:?subject={{'Westbegroot plan: '+idea.title | urlencode}}&body={{fullHost | urlencode}}/begroten?showIdea={{idea.id}}">Email</a></li>
									</ul>
								</td>
							</tr>
						</table>
					</div>
					<br />

					{% if idea.extraData %}
					<table class="thema-en-gebied">
						<tr class="thema">
							<td>Thema: </td> <td><strong>{{idea.extraData.theme}}</strong>
						</tr>
						<tr class="gebied">
							<td>Gebied: </td>  <td><strong>{{idea.extraData.area}}</strong>
						</tr>
					</table>
					{% endif %}
					<br />
					<div class="margin-hor-10">
						<a href="{{fullUrl}}/originele-plannen/plan/{{idea.id}}" class="link-original link-caret--blue">Bekijk het originele voorstel</a>
					</div>
					<br />
					<div class="align-left">
						<div class="budget">{{idea.budget}}</div>
						{% if config.budgeting.isActive %}
						<div class="button-add-idea-to-budget btn--blue" onclick="toggleIdeaInBudget({{idea.id}})"></div>
						{% endif %}
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<div class="hidden-xs">
						<h3 class="grider-title">{{idea.title}}</h3>
						<div class="intro">
							{{idea.summary | safe}}
						</div>
						<div class="description">
							{{idea.description | safe}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>

<script src="/js/ideas-gridder-list.js"></script>
<script src="/js/westbegroot.js?1.0.0"></script>
<script src="/js/westbegroot-enhancements.js"></script>

{% endmacro %}
