.gridder {
	// one
	width: calc(100% + @hMargin);
	margin: 0;
	padding: 0;
	font-size: 0; // wegens inline-blocks

	.gridder-list {
		display: inline-block;
		position: relative;
		width: calc((100% - @hMargin * 3) / 3);
		margin-bottom: @vMargin;
	  margin-right: @hMargin;
		font-size: 14px;
		background-color: @light-grey2;


		//	height: 400px;
/*	 &:nth-child(3n+3) {
	    margin-right: 0;

			@media @m {
				margin-right: @hMargin;
			}

	    @media @phone {
	      width: 100%;
	    }
	  }*/

		@media @m {
			width: calc((100% - @hMargin * 2) / 2);
		}

		@media @xs {
			width: 100%;
			margin: 10px auto;
		}

		&:hover {
			cursor: pointer;
		}

		.idea-image-mask {
			display: block;
			position: relative;
			padding-top: 56.25%; /* 16:9 Aspect Ratio */
			overflow: hidden;
			background-color: #e7e7e7;
			font-size: 14px;
			font-weight: normal;
			line-height: normal;

			.idea-image {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				background-position: center;
				background-size: cover;
			}

		}

		.info {
			padding: 10px;

			h3 {
				margin: 0;
				font-size: 16px;
				height: 20px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

		}

	}

}

.gridder-content {
	display: none;
}

	.gridder-show {
		font-size: 14px;
		float: left;
	 position: relative;
	 display: block;
	 margin: 20px 0 40px 0;
	 padding: 40px 0;
	 width: calc(100% - 20px);
	 background-color: @light-grey2;

	 @media @phone {
		 width: calc(100%);
		 padding-top: 90px;

		 h3 {
			 margin: 0 0 15px 0;
		 }
	 }

	.this-idea-id {
		display: none;
	}

	.content {

		@media @phone {
		}

		h3 {
			margin: 0 0 15px 0;
			font-size: 22px;
		}

		.summary {
			font-weight: 600;
			overflow: hidden;
			margin-bottom: 25px;
		}

		.description {
			overflow: hidden;
			margin-bottom: 25px;
			font-size: 14px;
		}



	}

	&:before {
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: @light-grey2;
		content: '';
	}

	&:after {
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		background-color: @light-grey2;
		content: '';
	}

}

.gridder-navigation {

	.gridder-nav {
		position: absolute;
    display: block;
    top: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    outline: 0;
    box-shadow: none;
    cursor: pointer !important;
    z-index: 1;
    margin-top: -25px;

		@media @phone {
			width: 15px;
			height: 15px;
			margin-top: 0;
		}

		span {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 23px;
			margin: auto;
			width: 14px;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.prev {
			left: -132px;
			background-image: url(/img/prev-button-round.svg);
			z-index: 100002;

			@media @phone {
				top: 32px;
				left: 15px;
				width: 7px;
				height: 12px;
				background-size: 7px 12px;
				background-image: url(/img/pijltje-links.svg);
			}

		}

		&.next {
			right: -132px;
			background-image: url(/img/next-button-round.svg);
			z-index: 100002;

			@media @phone {
				top: 32px;
				left: 62px;
				width: 7px;
				height: 12px;
				background-size: 7px 12px;
			background-image: url(/img/pijltje-rechts.svg);
			}

		}

	}

	.gridder-close {
		position: absolute;
		top: 40px;
		right: -115px;
		width: 20px;
		height: 20px;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(/img/close-button-grey-on-transparent.svg);
		cursor: pointer;
		z-index: 20;

		@media @phone {
			top: 15px;
			right: 0;
			width: 44px;
			height: 44px;
			background-image: url(/img/close-button-red.svg);
			right: 0;
		}

	}

}

.gridder-content {
	display: none;
}

.gridder {
	.selectedItem:after {
		position: absolute;
		content: ' ';
		display: block;
		top: calc(100% + 17px);
		width: 0;
		left: (50% - 14px);
		margin-bottom: -4px;
		border-bottom: 28px solid @light-grey2;
		border-left: 28px solid transparent;
		border-right: 28px solid transparent;
	}
}

.gridder .overlay { position: absolute; left: 10%; top: 10%; color: #FFF; line-height: 130%; text-align: left; }

.gridder.hasSelectedItem .gridder-list:not(.selectedItem) { opacity: 1; }

.gridder-mouse-over {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	text-align: center;
	display: none;


	.background {
		position: absolute;
		opacity: .4;
		background-color: black;
		width: 100%;
		height: 100%;
	}

	.button-more-info, .button-vote {
		position: relative;
		height: 44px;
		margin: 0 auto;
		padding: 11px 20px;
		font-size: 16px;
		font-weight: 600;
		font-style: normal;
		line-height: 22px;
		text-align: center;
		color: white;
	}



	.button-more-info {
		top: 61px;
		width: 176px;
		color: @amsterdam-navyblue;
		border: 1px solid @amsterdam-navyblue;
		background-color: white;

		&:hover {
			padding: 10px 19px;
			border: 2px solid @amsterdam-navyblue;
		}

	}

	.button-vote {
		top: 0;
		margin-top: 10px;
		width: 200px;
		color: white;
		background-color: @amsterdam-navyblue;
		border: 1px solid @amsterdam-navyblue;

		&.hasVoted {
			display: none;
		}

		&:hover {
			background-color: @amsterdam-navyblue-hover;
		}

	}
}
.gridder-mouse-over {
	.one-button {
		color: #164995;
    border: 1px solid #164995;
    background-color: white;
    top: 0;
    position: relative;
    width: auto;
    max-width: none;
    display: inline-block;
		width: 200px;
	}
}

.gridder {

	@media @xs {
		width: 100%;
	}

	.gridder-list {
		z-index: 1;
		cursor: pointer;
		background: #f6f7f7;
	}

	.button-read-more {
		cursor: pointer;
	}

	.button-add-idea-to-budget {
		cursor: pointer;
	}

	.budget-value {
		display: none;
	}

	.ranking-value {
		display: none;
	}

	.gridder-show {
		.image-location-toggable {
			position: relative;
			width: 460px;
			margin: 0;
			margin-bottom: 6px;
			padding: 0;
			overflow: hidden;
			height: 230px;

			.location-image-container,
			.idea-image-container {
				max-width: 380px;
				width: 100%;
				position: relative;
				width: 380px;
				transition: left .3s;

				.location-image-mask,
				.idea-image-mask {
					display: block;
					position: relative;
					padding-top: 56.25%; /* 16:9 Aspect Ratio */
					overflow: hidden;
					font-size: 14px;
					font-weight: normal;
					line-height: normal;
					background-color: #e7e7e7;

					.location-image,
					.idea-image {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						width: 100%;
						background-position: center;
						background-size: cover;
					}

				}

			}

			.image-switch,
			.location-switch {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;

				.arrow {
					position: absolute;
					left: 341.5px;
					top: calc(( 100% - 25.6px ) / 2);
					width: 16.5px;
					height: 25.6px;
				}

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: black;
					opacity: .4;
					content: '';
				}

			}

			.location-switch {
				.arrow {
					left: 22px;
					transform: scaleX(-1);
				}
			}

			.idea-image-container {
				position: absolute;
				top: 0;
				left: 0;

				&:hover {
					.image-switch {
						display: none;
					}
				}

			}

			.location-image-container {
				position: absolute;
				top: 0;
				left: 400px;

				&:hover {
					.location-switch {
						display: block;
					}
				}

			}

			&.show-location {

				.idea-image-container {
					left: -320px;

					&:hover {
						.image-switch {
							display: block;
						}
					}

				}

				.location-image-container {
					left: 80px;

					&:hover {
						.location-switch {
							display: none;
						}
					}

				}


			}
		}

		.intro {
			font-size: 16px;
			font-weight: 600;
			line-height: 1.5;
			color: #434343;
			margin: 20px 0;
		}

		.description {
			font-size: 14px;
		  line-height: 1.6;
		  color: #000000;

			ul, ol {
				padding-left: 16px;
				list-style-type: disc;
			}

			li {
				margin: 10px 0;
			}
		}

	}

	@media @xs {
		h3 {
			margin-top: 20px;
		}
	}
}

.gridder .gridder-list .info {
    padding: 15px 16px 10px;

		.button-read-more {
			margin: 10px 0;
		}

		.inner {
    min-height: 46px;

			@media @gridderFull {
				min-height: 0;
			}
		}

		.thema-en-gebied {
			margin: 8px 0;
		}
}
