.page_header {
  margin-top: -50px;

  .header_img {
    height: 400px;
    overflow: hidden;

    @media only screen and (max-width: 989px) {
      height: 300px;
    }

    @media only screen and (max-width: 767px) {
      height: 200px;
    }

    @media only screen and (max-width: 479px) {
      height: 120px;
    }

    img {
      width: 100%;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
  }

  .container {
    @media only screen and (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .header-content {

    .header-buttons {
      a {
        @media only screen and (max-width: 767px) {
          max-width: 300px;
        }

        @media only screen and (max-width: 479px) {
          max-width: none;
        }
      }
    }

    .header-block {
      padding: 30px;
      background: #f6f7f7;
      margin-top: -75px;

      @media only screen and (max-width: 767px) {
        margin-top: 0;
        padding: 20px 0;
        background: white;
      }

      .subtitle {
        margin-bottom: 25px;
        display: block;

        @media only screen and (max-width: 479px) {
          font-size: 20px;
        }
      }

      h1 {
        margin-bottom: 10px!important;

        @media only screen and (max-width: 479px) {
          font-size: 24px;
        }
      }
    }
  }
}