.tab-button {
  box-sizing: content-box;
  background: #e8e8e8;
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  border-right: 3px solid #bebebe;
  font-size: 14px;
  font-weight: 600;
  display: block;
  line-height: 1.3;
  text-align: left;
  max-width: 130px;
  min-height: 40px;
}

.tpl {
  display: none;
}


.tab-button.active {
  background: #ec0000;
  color: #FFF;
  border-color: #434343;
}

// General user styling
// --------------------
// Author styling is similar for arguments and reactions.

.argument,
.reaction {
	position: relative;

  label.error {
    display: block;
  }

	p {
		margin: 20px 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.user {
		overflow: hidden;
		font-size: 16px;

		&.admin {
			background-image: url("/img/flag_small.svg");
			background-size: auto 1em;
			background-position: left top 3px;
			background-repeat: no-repeat;
			padding-left: 18px;
		}

		a {
			color: inherit;
		}

		form {
			float: right;
			line-height: 0;
    }

		.delete,
		.edit {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 60%;
			cursor: pointer;
			font-size: 0;
			height: 20px;
			width: 20px;
      border: none;
      display: block;
      float: right;
		}

		.edit {
			background-color: #333;
			background-image: url("/img/edit_white.svg");
			margin-left: 4px;
		}

		.delete {
			background-color: #EC0000;
			background-image: url("/img/delete_white.svg");
		}

	}

  .argument-edit-form {
    display: none;
    margin: 17px 0;
  }

  &.edit-mode {
    .argument-edit-form {
      display: block;
    }

    .argument-content {
      display: none;
    }
  }
}

.reaction {
  border-left: 3px solid #868686;
  padding: 9px 0 3px 12px;
  margin: 20px 0;
}
// Argument
// --------

form.newArgument {
	margin-bottom: 10px;
	overflow: visible;
	text-align: right;

	textarea {
		border: 1px solid #B6B7BA;
		border-radius: 0;
		box-sizing: border-box;
		color: #B6B7BA;
		cursor: pointer;
		display: block;
		font-family: inherit;
		font-size: 1.5em;
		font-weight: bold;
		height: 55px;
		margin-bottom: 5px;
		outline: none;
		padding: 10px;
		position: relative;
		resize: none;
		width: 100%;
		transition: color 0.2s, font-size 0.2s, height 0.2s 0.2s;

		&:not([data-disabled]):focus {
			color: #000;
			cursor: auto;
			font-size: 0.875rem;
			font-weight: normal;
			height: 100px;
		}
	}
}

.argument {
	background-color: #F6F6F6;
	border-left: 3px solid #043287;
	color: #666;
	margin-bottom: 20px;
	padding: 15px;

	.argument-body {
		margin: 15px 0;
	}

	.argument-footer {
		margin-top: 25px;
	}

	.newReaction input[type="submit"],
	a.reply {
		background-image: url(/img/arrow_right_black.svg);
    background-position: 3px 4px;
    background-repeat: no-repeat;
    background-size: auto 12px;
    color: #000;
    display: block;
    float: right;
    font-weight: 600;
    line-height: 24px;
    margin-top: 0;
    padding-left: 19px;
    text-decoration: none;
    font-size: 15px;
	}


  .comment-pre-sentence {
    margin: 10px 0;
  }

	form.vote {
    margin: 0;
    display: block;
    float: left;
    padding: 5px 0;

		button {
			cursor: pointer;
	    outline: none;
	    position: relative;
	    display: block;
			line-height: 1;
	    background: transparent;
	    padding: 0px 0px 0 35px;
	    text-align: left;
			font-size: 14px;
	    border: 0;
	    color: #000000;
	    margin: 0;

			&:before {
				content: '';
		    background-color: #aeaeae;
		    background-image: url(/img/thumbsup_white.svg);
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: 68%;
		    left: 0;
		    position: absolute;
		    top: -6px;
		    width: 25px;
		    height: 25px;
			}

			&.voted {
				font-weight: bold;
			}

			&.voted:before {
				background-color: #B1CC06;
			}

			&:disabled {
				cursor: default;
				opacity: 0.5;
			}
		}
	}
}

.reaction + .argument,
form + .argument {
	margin-top: 20px;
}
// Reaction form
// -------------
form.argument-form {
	.reaction();
  border: 0;

	textarea {
		width: 100%;
		//min-height: 120px;
		border: 1px solid #888888;
		border-radius: 0;
		color: #666;
		display: block;
		font-family: inherit;
		font-size: 1em;
		margin-bottom: 5px;
		outline: none;
		overflow: hidden;
		padding: 5px 10px;
		resize: none;
		width: 100%;
		@media @screen-sm {
			font-size: 16px; // To prevent zooming.
		}
	}

}

.reaction-container {
  padding-left: 30px;
}

.reply-form {
	display: none;

	&.active {
		display: block;
	}
}

.reply-form form.argument-form textarea {
	margin-left: 60px;
	width: 100%;
	max-width: 350px;
	min-height: 80px;
	float: right;
}

.argument {
	color: #000;
	margin-bottom: 20px;
	padding: 20px 15px 10px;
}

.argument + .reaction {
	border-top: 0;
	margin-top: -15px;
}

.noArguments {
	background-color: #F6F6F6;
	font-style: italic;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px 10px;
	text-align: center;
}
