
 .gridder-show {

 	float: left;
 	position: relative;
 	display: block;
 	margin: 20px 0 40px 0;
 	padding: 40px 0;
 	width: calc(100% - 20px);
 	background-color: @light-grey2;

 	@media @phone {
 		width: calc(100%);
 		padding-top: 90px;

 		h3 {
 			margin: 0 0 15px 0;
 		}
 	}


 	.thisIdeaId {
 		display: none;
 	}

 	.image-and-vote-button-container {

 		float: left;
 		width: 320px;

 		@media @phone {
 			float: none;
 			position: relative;
 		//	left: -15px;
 		 left: 0;
 		 width: 100%;
 		//	width: calc(100% + 30px);
 		}


 		.image-mask {
 			position: relative;
 			width: 100%;
 			height: 320px;
 			/*overflow: hidden;*/

 			@media @phone {
 				width: 100%;
 				margin-bottom: 30px;
 				height: auto;
 				//padding-top: calc(100% * 380/320);
 			}

 			.image-container {
 				position: absolute;
 		    top: 0;
 		    width: 100%;
 		    height: 100%;

 				@media @phone {
 				//	left: calc((100% - 100% * 380/320) / 2);
 				  left: 0;
 			//		width: calc(100% * 380/320);
 					width: 100%;
 					position: relative;
 					height: auto;
 				}
 			}

 			.image {
 				width: 320px;
 				height: 380px;
 				@media @phone {
 					width: 100%;
 					height: auto;
 				}
 			}

 		}

 		.vote-button-container {

 			display: none;
 			width: 320px;
 			height: 44px;
 			margin: 30px auto 0 auto;
 			cursor: pointer;

 			&.hasVoted {
 				width: 224px;
 				&.gt1000 {
 					width: 253px;
 				}

 				&.gt10000 {
 					width: 282px;
 				}

 				cursor: initial;
 			}

 			&.active {
 				display: block;
 			}

 			@media @phone {
 				position: relative;
 				margin-top: 20px;
 				margin-bottom: 40px;
 				width: 300px;
 				z-index: 100;
 			}

 			.vote-button {

 				float: left;
 				position: relative;
 				width: 219px;
 				height: 43px;
 				z-index: 1000;

 				&:before {
 					box-sizing: border-box;
 					position: absolute;
 					top: 0;
 					left: 0;
 					width: 100%;
 					height: 100%;
 					padding: 11px;
 					font-size: 16px;
 					font-weight: 600;
 					line-height: 21px;
 					text-align: center;
 					background-color: @amsterdam-navyblue;
 					color: white;
 					content: 'Stem op dit ontwerp';

 				}

 				@media @phone {
 					width: 199px;
 				}

 			}

 			&.gt1000 {
 				.vote-button {
 					width: 190px;
 					@media @phone {
 						width: 171px;
 					}
 					&:before {
 						@media @phone {
 							content: 'Kies dit ontwerp';
 						}
 					}
 				}
 			}

 			&.gt10000 {
 				.vote-button {
 					width: 161px;
 					@media @phone {
 						width: 142px;
 					}
 					&:before {
 						content: 'Kies dit ontwerp';
 						@media @phone {
 							content: 'Kies ontwerp';
 						}
 					}
 				}
 			}

 			&.hasVoted {
 				.vote-button {
 					width: 130px;
 					cursor: initial;

 					&:before {
 						padding: 9px 11px 13px 11px;
 						font-size: 20px;
 						color: black;
 						background-color: @light-grey2;
 						border: 2px solid @amsterdam-navyblue;
 						border-left: none;
 						content: 'stemmen';
 					}
 				}

 				&.gt1000 {
 					&.hasVoted {
 						.vote-button {
 							&:before {
 								@media @phone {
 									content: 'stemmen';
 								}
 							}
 						}
 					}
 				}

 				&.gt10000 {
 					.vote-button {
 						&:before {
 							content: 'stemmen';
 							@media @phone {
 								content: 'stemmen';
 							}
 						}
 					}
 				}

 			}

 			.no-of-votes-hasvoted {
 				float: left;
 			}

 		}

 	}

 	.content {
 		float: left;
 		margin-left: 70px;
 		margin-right: 20px;
 		max-width: calc(100% - 410px);

 		@media @phone {
 			float: none;
 			margin: 0;
 			max-width: 100%;
 		}

 		h3 {
 			margin: 0 0 15px 0;
 			font-size: 22px;
 		}

 		.summary {
 			font-weight: 600;
 			overflow: hidden;
 			margin-bottom: 25px;
 		}

 		.description {
 			overflow: hidden;
 			margin-bottom: 25px;
 			font-size: 14px;
 		}

 		.share-spacer {
 			height: 30px;
 		}

 	}

 	&:before {
 		position: absolute;
 		top: 0;
 		left: -100%;
 		width: 100%;
 		height: 100%;
 		background-color: @light-grey2;
 		content: '';
 	}

 	&:after {
 		position: absolute;
 		top: 0;
 		left: 100%;
 		width: 100%;
 		height: 100%;
 		background-color: @light-grey2;
 		content: '';
 	}

 }

 .gridder-navigation {

 	.gridder-nav {
 		position: absolute;
 		display: block;
 		top: 260px;
 		width: 50px;
 		height: 50px;
 		padding: 0;
 		border: none;
 		outline: 0;
 		box-shadow: none;
 		cursor: pointer !important;
 		z-index: 1;

 		@media @phone {
 			width: 15px;
 			height: 15px;
 		}

 		span {
 			display: block;
 			position: absolute;
 			top: 0;
 			right: 0;
 			bottom: 0;
 			left: 0;
 			height: 23px;
 			margin: auto;
 			width: 14px;
 			background-position: center;
 			background-repeat: no-repeat;
 		}

 		&.prev {
 			left: -132px;
 			background-image: url(/img/prev-button-round.svg);
 			z-index: 100002;

 			@media @phone {
 				top: 32px;
 				left: 15px;
 				width: 7px;
 				height: 12px;
 				background-size: 7px 12px;
 				background-image: url(/img/pijltje-links.svg);
 			}

 		}

 		&.next {
 			right: -132px;
 			background-image: url(/img/next-button-round.svg);
 			z-index: 100002;

 			@media @phone {
 				top: 32px;
 				left: 62px;
 				width: 7px;
 				height: 12px;
 				background-size: 7px 12px;
 			background-image: url(/img/pijltje-rechts.svg);
 			}

 		}

 	}

 	.gridder-close {
 		position: absolute;
 		top: 40px;
 		right: -115px;
 		width: 20px;
 		height: 20px;
 		background-size: cover;
 		background-repeat: no-repeat;
 		background-image: url(/img/close-button-grey-on-transparent.svg);
 		cursor: pointer;
 		z-index: 20;

 		@media @phone {
 			top: 15px;
 			right: 0;
 			width: 44px;
 			height: 44px;
 			background-image: url(/img/close-button-red.svg);
 			right: 0;
 		}

 	}

 }

 .gridder-content {
 	display: none;
 }

.image {
	position: relative;
	width: 100%;

	background-position: center;
	background-size: cover;
	overflow: hidden;

	.image-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}

	.image-upload {
		position: absolute;
		background-repeat: no-repeat;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 15;
	}

	.image-foreground {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
	}

}
