
.tile-list {
  width: calc(100% + @hMargin);
}

.tile {
  display: inline-block;
  margin-bottom: @vMargin;
  margin-right: @hMargin;
  width: calc((100% - @hMargin * 3) / 3);

  @media @m {
    width: calc((100% - @hMargin * 2) / 2);
  }

  @media @xs {
    width: 100%;
    margin: 10px auto;
  }


  &:visible {
    @media @grid50 {
      width: calc(50% - (@hMargin / 2));

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media @primary100 {
      width: calc(50% - (@hMargin));

      & + div.tile:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    @media @phone {
      float: none;
      width: 100%;
    }

  //	height: 400px;
    &:nth-child(3n+3) {

      @media @desktop {
        margin-right: 0;
      }

      @media @phone {
        margin-right: 0;
        width: 100%;
      }

    }
  }
}
