.slider {
    position: relative;
    overflow: hidden;

    ul.slide-items {
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li.slide-item {
            list-style-type: none;
            width: 100%;
        }

    }

    .image-container {
        position: relative;

        .imgdiv {
            width: 100%;
            height: 140px;
            background-position: center;
            background-size: cover;
        }

        .button-left, .button-right {
            position: absolute;
            cursor: pointer;
            width: 30px;
            height: 30px;
            bottom: -10px;
            margin-right: 0;
        }

        .button-left {
            left: 0;
        }

        .button-right {
            right: 0;
            transform: scale(-1, 1);
        }
    }

}