{% macro showIdeasList(runningIdeas, fullHost, user, userHasVoted, isAdmin, data) %}
<ul id="ideaList" class="gridder" onclick="handleClick(event);">
	{% for idea in runningIdeas %}
	<li id="idea-{{idea.id}}" class="gridder-list {% if loop.index % 3 === 0 %} third-item {% endif %}" data-griddercontent="#idea-content-{{idea.id}}">
		{% set imageUrl = idea.extraData.images[0] if idea.extraData.images[0] else '/img/placeholders/idea.jpg' %}
		<div class="idea-image-mask">
			<div class="idea-image" style="background-image: url('{{imageUrl}}')"></div>
		</div>

		<div class="info">
			<div class="inner">
				<h3 class="title">{{idea.title}}</h3>
				{% if idea.extraData %}
				<div class="thema-en-gebied underscription">
					<span class="thema">{{idea.extraData.theme}}</span>
					|
					<span class="gebied">{{idea.extraData.area}}</span>
				</div>
				{% endif %}
			</div>
			<div class="button-read-more link-caret--blue">Lees meer</div>
			<div class="row">
				{% if data.widget.displayBudgetLabel %}
				<div class="col-xs-6">
					<div class="budget">{{idea.budget}}</div> {# formatted in js #}
				</div>
				{% endif %}

				<div class="col-xs-6">
					<div class="button-add-idea-to-budget btn-primary stretch"></div>
				</div>
			</div>
			<div class="budget-value">{{idea.budget}}</div>{# used by sort #}
			<div class="ranking-value">{{idea.extraData.ranking}}</div>{# used by sort #}
		</div>

		{# extra info for gridder-show #}
		<div id="idea-content-{{idea.id}}" class="gridder-content">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="this-idea-id">{{idea.id}}</div>
					<div class="visible-xs">
						<h3 class="grider-title">{{idea.title}}</h3>
					</div>
					<div id="image-location-toggable-{{idea.id}}" class="image-location-toggable">

						<div class="idea-image-container">
							{% set imageUrl = idea.extraData.images[0] if idea.extraData.images[0] else '/img/placeholders/idea.jpg' %}
							<div class="idea-image-mask">
								<div class="idea-image" style="background-image: url('{{imageUrl}}')"></div>
							</div>
							<div class="image-switch" onclick="toggleImageLocation({{idea.id}})"><img class="arrow" src="/img/arrow_right_white.svg"></div>
						</div>

						{% if idea.location %}
						<div class="location-image-container">
							<div class="location-image-mask">
								<a href="{{idea.locationUrl}}" target="_blank" class="location-image" >
									<img src="{{idea.locationMapImage}}" />
								</a>
							</div>
							<div class="location-switch" onclick="toggleImageLocation({{idea.id}})"><img class="arrow" src="/img/arrow_right_white.svg"></div>
						</div>
						{% endif %}

					</div>

					<div class="visible-xs">
						<br />
						<div class="intro">
							{{idea.summary | safe}}
						</div>
						<div class="description">
							{{idea.description | safe}}
						</div>
					</div>
					<div class="share-buttons">
						<table class="table-center">
							<tr>
								<td>
									<b class="text"> Deel dit: </b>
								</td>
								<td>
									<ul class="share">
										<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{data.currentUrl}}?ideaId={{idea.id}}">Facebook</a></li>
										<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{data.currentUrl}}?ideaId={{idea.id}}">Twitter</a></li>
										<li><a class="email"    target="_blank" href="mailto:?subject={{'Westbegroot plan: '+idea.title | urlencode}}&body={{data.currentUrl}}%3FideaId%3D{{idea.id}}">Email</a></li>
										<li><a class="whatsapp" target="_blank" href="https://wa.me/?text={{data.currentUrl}}?ideaId={{idea.id}}">WhatsApp</a></li>
									</ul>
								</td>
							</tr>
						</table>
					</div>
					<br />

					{% if idea.extraData %}
					<table class="thema-en-gebied">
						<tr class="thema">
							<td>Thema: </td> <td><strong>{{idea.extraData.theme}}</strong>
						</tr>
						<tr class="gebied">
							<td>Gebied: </td>  <td><strong>{{idea.extraData.area}}</strong>
						</tr>
					</table>
					{% endif %}
					<br />

					{% if data.widget.originalIdeaUrl %}
					<div class="margin-hor-10">
						<a href="{{data.widget.originalIdeaUrl}}/{{idea.id}}" class="link-original link-caret--blue">Bekijk het originele voorstel</a>
					</div>
					{% endif %}
					<br />
					<div class="align-left">
						{% if data.widget.displayBudgetLabel %}
						<div class="budget">{{idea.budget}}</div>
						{% endif %}
						<div class="button-add-idea-to-budget btn-primary" onclick="toggleIdeaInSelection({{idea.id}})"></div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<div class="hidden-xs">
						<h3 class="grider-title">{{idea.title}}</h3>
						<div class="intro">
							{{idea.summary | safe}}
						</div>
						<div class="description">
							{{idea.description | safe}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% endmacro %}
