<style>
    {{data.widget.formattedContainerStyles}}
</style>

<div class="page_header campaign">
    <div class="header_img">
        <img src="{{apos.attachments.url(data.widget.background)}}">
    </div>
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <div class="header-block">
                        <h1>{{data.widget.title}}</h1>
                        <span class="subtitle">{{data.widget.subtitle}}</span>
                        <div class="intro-text">{{data.widget.introText}}</div>
                        {% if data.widget.showBtnIntro %}
                        <div class="button-row">
                            <a href="" class="button-without-icon margin-top-sm">{{data.widget.btn1Label if data.widget.btn1Label else 'Ga naar je plan'}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 header-buttons">
                    <a href="/plannen" class="margin-bottom-xs scroll-link block no-decoration">
                        <span class="box-blue block">
                            <span class="margin-right-s">
                              <span id="number-number-plate-000" class="number-plate"> 0 </span>
                              <span id="number-number-plate-00" class="number-plate"> 0 </span>
                              <span id="number-number-plate-0" class="number-plate"> 0 </span>
                            </span>
                            plannen
                        </span>
                    </a>
                    <script>

                     var value = {{ data.ideas.length or 0 }};

                     var value000 = parseInt(value/100) || 0;
                     var value00  = parseInt(( value - 100 * value000 )/10) || 0;
                     var value0   = value - value000 * 100 - value00 * 10;
                     document.getElementById('number-number-plate-000').innerHTML = value000;
                     document.getElementById('number-number-plate-00').innerHTML = value00;
                     document.getElementById('number-number-plate-0').innerHTML = value0;
                    </script>
                    {% if data.widget.showBtn %}
                    <a href="{{data.widget.btnUrl}}" class="link-box scroll-link margin-bottom-sm button-with-icon" style="">

                        <img src="{{apos.attachments.url(data.widget.btnIcon)}}">

                        {{data.widget.btnLabel}}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>