{% set idea = data.widet.idea %}

{% import 'includes/numberplatebutton.html' as numberPlateButton %}
{% import 'includes/modbreak.html' as modbreak %}

<div id="title">
	<div>
		<div class="primary">
			{% if idea.posterImage %}
				<div class="image" style="background-image: url('/image/{{idea.posterImage.key}}');"></div>
			{% elif idea.location %}
				<div class="image" style="background-image: url(
				'https://maps.googleapis.com/maps/api/streetview?size=1400x700&location={{idea.location.coordinates[0]}},{{idea.location.coordinates[1]}}&heading=151.78&key={{config.openStadMap.googleKey}}'
				);"></div>
			{% else %}
				<div class="image"></div>
			{% endif %}
			{% if idea.status == 'CLOSED' %}
				<div class="statusbalk {{idea.status}}">De stemperiode is afgelopen</div>
			{% elif idea.status == 'DENIED' %}
				<div class="statusbalk {{idea.status}}">Dit voorstel is afgewezen</div>
			{% elif idea.status == 'ACCEPTED' %}
				<div class="statusbalk {{idea.status}}">Dit voorstel wordt besproken</div>
			{% elif idea.status == 'BUSY' %}
				<div class="statusbalk {{idea.status}}">Dit voorstel is in behandeling</div>
			{% elif idea.status == 'DONE' %}
				<div class="statusbalk {{idea.status}}">Dit voorstel is afgerond</div>
			{% else %}
				<div class="statusbalk {{idea.status}}">Je kunt nu op dit voorstel stemmen</div>
			{% endif %}
		</div>

		<div class="secondary">
			<div class="controls">
				<h4>Stemmen</h4>

				{% if idea.status === 'OPEN' %}
					<div class="vote">
						<form method="POST" action="/plan/{{idea.id}}/vote">
							<input type="hidden" name="_csrf" value="{{csrfToken}}">
							{{numberPlateButton.numberPlateButton('no-of-votes-for', '', idea.yes)}}
							<button class="{{'selected' if userVote.opinion == 'yes'}}" type="submit" name="opinion" value="yes" data-count="{{idea.yes}}">
								voor
							</button>
							<div style="clear: both;"></div>
							{{numberPlateButton.numberPlateButton('no-of-votes-against', '', idea.no)}}
							<button class="{{'selected' if userVote.opinion == 'no'}}" type="submit" name="opinion" value="no" data-count="{{idea.no}}">
								tegen
							</button>
							<div style="clear: both;"></div>
						</form>
					</div>
				{% else %}
					<div class="vote disabled">
						{{numberPlateButton.numberPlateButton('no-of-votes-for', '', idea.yes)}}
						<button disabled="true" class="{{'selected' if userVote.opinion == 'yes'}}" type="button" name="opinion" value="yes" data-count="{{idea.yes}}">
							voor
						</button>
						<div style="clear: both;"></div>
						{{numberPlateButton.numberPlateButton('no-of-votes-against', '', idea.no)}}
						<button disabled="true" class="{{'selected' if userVote.opinion == 'no'}}" type="button" name="opinion" value="no" data-count="{{idea.no}}">
							tegen
						</button>
						<div style="clear: both;"></div>
					</div>
				{% endif %}

				<div class="ideaProgress">
					<div class="progress"><div class="bar {{idea.status}}" style="width: {{idea.progress}}%;"></div></div>
				</div>

				<div class="ideaDuration {{idea.status}}">
					<h4>Status</h4>
					<div class="duration">
						{% if idea.status == 'CLOSED' %}
							<div>De stemperiode is afgelopen</div>
						{% elif idea.status == 'DENIED' %}
							<div>Stemmen op dit voorstel is niet meer mogelijk.</div>
						{% elif idea.status == 'ACCEPTED' %}
							<div>Dit voorstel wordt besproken in de volgende vergadering!</div>
						{% elif idea.status == 'BUSY' %}
							<div>Dit voorstel wordt uitgevoerd. Lees op deze pagina over de voortgang.</div>
						{% elif idea.status == 'DONE' %}
							<div>Dit voorstel is uitgevoerd. Lees daar meer over op deze pagina.</div>
						{% else %}
							<div>Nog {{idea.duration | duration}} om te stemmen</div>
						{% endif %}
					</div>
				</div>

				{% include "includes/share-idea-buttons.html" ignore missing %}

			</div>
		</div>
	</div>
</div>

<div class="primary">
	<h1>{{idea.title}}</h1>

	<div id="author">
			Door <strong>{{idea.user.firstName}} {{idea.user.lastName}}</strong><br>

		{{idea.startDate | date('LL')}}
	</div>

	{{ modBreak.render() if idea.modBreak and not (idea.status === 'OPEN') }}

	<div class="userContent">
		<p class="summary">
			<strong>{{idea.summary | safe | nlbr}}</strong>
		</p>

		{{idea.description | safe}}
	</div>

	{% if idea.location %}
		<h2>Locatie</h2>
		<div id="mapcontainer">
			{{openStadMap.map(googleKey = config.openStadMap.googleKey, ideas = [idea])}}
		</div>
	{% endif %}

	{{ modBreak(idea) if idea.modBreak and (idea.status === 'OPEN') }}
</div> <!-- #primary -->

<div class="secondary">

	{# <h2>Volgen</h2>

	<form action="/plan/{{idea.id}}/notify">
	<input type="submit" value="Mail updates">
	</form> #}

	{#
	{% 'includes/crud/edit-delete.html' %}
	{% 'includes/crud/admin.html' %}
	#}


</div>



{#
<script src="/js/promise.js"></script>
<script src="/js/fetch.js"></script>


<script>
 // First image in content
 // ----------------------
 // If the content starts with an image, remove it from the content
 // since it's already visible as poster image.
 var figure = document.querySelector('.userContent figure:first-child');
 if( figure ) {
	 var parent = figure.parentNode;
	 if( parent.firstChild === figure ) {
		 parent.removeChild(figure);
	 }
 }
</script>

<script>
 // Delete idea confirmation
 // ------------------------
 var form = document.getElementById('deleteIdea');
 if( form ) {
	 form.addEventListener('submit', function( event ) {
		 var msg = 'Let op! Je staat op het punt je voorstel te verwijderen. '+
			         'Dit kan niet ongedaan gemaakt worden.\n\n'+
			         'Weet je het zeker?';
		 if( !confirm(msg) ) {
			 event.preventDefault();
		 }
	 });
 }
</script>
#}
