.full-screen-section {
    position: fixed;
    top: 160px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    @media @phone {
      top: 113px;
    }

    .full-screen-section-inner {
      position: relative;
      max-width: 1440px;
      margin: 0 auto;
      height: 100%;

      .apos-area, .apos-area-widgets, .apos-area-widget, .apos-area-widget-wrapper {
        height: 100%;
        position: relative;
      }
    }
}

.container {
  position: relative;
}


.section-bg-image {
  position: absolute;
  top: 0;
  left: floor((@grid-gutter-width / 2));
  right: floor((@grid-gutter-width / 2));
  bottom: 0;

  @phone {

  }
}

.section.margin-up {
    margin-top: -70px;
}

.section {

  .howDoesItWorkButton {
    outline: 0;
    background: #dfdfdf;
    color: black;
    padding: 15px 20px;
    text-align: center;
  }

  &.mobileonly {
    .howDoesItWorkButton {
      display: none;
    }

    .row {
      display: block!important;
    }

    @media only screen and (max-width: 767px) {
      .howDoesItWorkButton {
        display: block;
      }
    }

      &.closed {
        .row, .full-width-container {
          display: block!important;

          @media only screen and (max-width: 767px) {
            display: none!important;
          }
        }
        .arrow {
          transform: rotate(0deg);
        }
      }

      &.open {
        .row, .full-width-container {
          display: block!important;
        }
        .arrow {
          transform: rotate(180deg);
        }
      }
  }

  &.closed {

    .container, .full-width-container {
      display: none
    }

    .arrow {
      transform: rotate(0deg);
    }

  }

  &.open {

    .row, .full-width-container {
      display: block
    }

    .arrow {
      transform: rotate(180deg);
    }

  }
}