<div id="location">
  <h3>{{field.title}}</h3>

  <input
    id="locationField"
    type="hidden"
    name="field[location]"
    {% if (idea) and (idea.info) and (idea.info.lat) %}
    value='{"type":"Point","coordinates":[{{idea.info.lat}}, {{idea.info.long}}]}'
    {% endif %}
  />
  <div id="map">
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{apos.settings.getOption('googleMapsApiKey')}}"></script>
<script src="/js/openstad-map.js"></script>

<script>
  		 var editorInputElement = document.getElementById('locationField');
  		 var editorMarker = {
  			 icon     : {
  				 url    : '/img/flag-red.svg',
  				 size   : [22, 24],
  				 anchor : [ 4, 21],
  			 }
  		 }

  	 var map = new OpenStadMap(
  		 null,
  		 {"strokeColor":"#d00","strokeOpacity":1,"strokeWeight":2,"fillColor":"#000","fillOpacity":0.15},
  		 editorInputElement,
  		 editorMarker
     )

     map.createMap(
       {% if apos.settings.getOption('openStadMap').defaults %}{{ apos.settings.getOption('openStadMap').defaults | dump | safe }}{% else %}null{% endif %},
       [],
       null
     )

  //new LocationEditor(document.getElementById('locationField'), document.getElementById('location-map'));
</script>
