<div class="form-group">
  <h3>{{field.title}}</h3>
  {% for choice in field.choices %}
  <div>
  <label>
    {% if field.options.maxChoices > 1 %}
    <input
      type="checkbox"
      name="data[{{field.inputKey}}][]"
    />
    {% else %}
    <input
      type="radio"
      name="data[{{field.inputKey}}]"
    />
    {% endif %}

    {% if choice.image %}
    <img src="{{apos.attachments.url(choice.image)}}" width="80" />
    {% endif %}

    {{choice.title}}
  </label>
  </div>
  {% endfor %}
</div>
