<div class="form-group">
  <h3>{{field.title}}</h3>
  <input
    type="{{field.inputType}}"
    name="data[{{field.inputKey}}]"
    class="input-field stretch"
{#		{{field.inputAttributes.split(' ')}}
    class="{{field.inputClasses.split(' ')}}"
  #}
  />
</div>
