<script>

 // polyfill Object.assign
 if (typeof Object.assign != "function") {
   Object.defineProperty(Object, "assign", {
     value: function assign(target, varArgs) {
       "use strict";
       if (target == null) {
         throw new TypeError("Cannot convert undefined or null to object");
       }
       var to = Object(target);
       for (var index = 1; index < arguments.length; index++) {
         var nextSource = arguments[index];
         if (nextSource != null) {
           for (var nextKey in nextSource) {
             if (Object.prototype.hasOwnProperty.call(nextSource, nextKey)) {
               to[nextKey] = nextSource[nextKey];
             }
           }
         }
       }
       return to;
     },
     writable: true,
     configurable: true
   });
 }

</script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<link rel="stylesheet" href="https://map.data.amsterdam.nl/nlmaps/dist/assets/css/nlmaps.css"/>
<!-- link rel="stylesheet" href="https://map.data.amsterdam.nl/dist/css/ams-map.css"/ -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://map.data.amsterdam.nl/dist/amaps.iife.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

<div id="gebiedsontwikkeling-tool" class="{{data.widget.displayType}}">
	<div id="openstad-map"></div>
	<div id="deactivate-input-layer"></div>
	<a href="{{data.widget.linkTo}}" id="linkToButton" class="button-blue">Bekijk de volledige kaart</a>
	<div id="title-bar">
		Op welke plekken in West kan het schoonhouden van de buurt structureel beter?
		<div class="close-button" onclick="document.querySelector('#title-bar').style.display = 'none';">&times;</div>
	</div>
	<div id="info-block"></div>
	{#
	<ul id="filter-selector">
		<li id="filter-selector-button-0" class="filter-selector-button" onclick="activateIdeasFilter(0)">
			Toon alles
		</li>
		<li id="filter-selector-button-1" class="filter-selector-button" onclick="activateIdeasFilter(1)">
			Afvalcontainers
		</li>
		<li id="filter-selector-button-2" class="filter-selector-button" onclick="activateIdeasFilter(2)">
			Grofvuil
		</li>
		<li id="filter-selector-button-3" class="filter-selector-button" onclick="activateIdeasFilter(3)">
			Straat
		</li>
	</ul>
	#}
	<select id="ideas-filter-select" class="default-select ideas-filter-select" onchange="activateIdeasFilter(this.value)">
    <option value="0" selected="true">Toon alle categorieen</option>
    <option value="1">Volle afvalcontainer</option>
    <option value="2">Defecte afvalcontainer</option>
    <option value="3">Afval naast afvalcontainer</option>
    <option value="4">Afval op straat</option>
    <option value="5">Overig</option>
	</select>
</div>

{% include "includes/infoblock.html" %}

<script>
 // todo: dze zooi moet nog gedefault in de js
 var siteId = {{data.widget.siteId}};
 var apiUrl = '{{data.widget.apiUrl}}';
 var userJWT = '{{data.widget.userJWT}}';
 var moduleBaseUrl = '{{data.widget.moduleBaseUrl}}';
 var displayType = '{{data.widget.displayType}}';
 var siteConfig = {{data.widget.siteConfig | dump | safe}};
 var editIdeaPage = '{{data.widget.editIdeaPage}}';
</script>
