<style>
  {{data.widget.formattedContainerStyles}}
</style>

{% if data.widget.mode === 'h1' %}
<h1
  id="{{data.widget.containerId}}"
>
  {{data.widget.title}}
</h1>
{% endif %}

{% if data.widget.mode === 'h2' %}
<h2
  id="{{data.widget.containerId}}"
>
  {{data.widget.title}}
</h2>
{% endif %}

{% if data.widget.mode === 'h3' %}
<h3
  id="{{data.widget.containerId}}"
>
  {{data.widget.title}}
</h3>
{% endif %}

{% if data.widget.mode === 'h4' %}
<h4
  id="{{data.widget.containerId}}"
>
  {{data.widget.title}}
</h4>
{% endif %}
