.end-date-bar-1 {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	background-color: #bdd131;
	z-index: 1;
	line-height: 46px;
	text-align: center;
	padding: 0 15px;
	font-size: 18px;
	font-weight: 600;
	margin: 20px 0;
	font-size: 18px;
	font-weight: 600;
	color: black;

	@media @phone {
		font-size: 17px;
		line-height: 25px;
		padding: 10px 15px;
	}

	.number-plate {
	  margin-right: 4px;
	  font-size: 18px;
	  background: #e8e8e8;
	  background: linear-gradient(#e8e8e8 50%, #ffffff 50%);
	  padding: 0;
	  display: inline-block;
	  height: 29px;
	  line-height: 31px;
	  width: 20px;
	  text-align: center;
	  color: black;
	  border-radius: 3px;
	  font-weight: 800;
	  vertical-align: middle;
	}

	.end-date-bar-text-container-1,
	.end-date-bar-text-container-2 {
		margin: 0 auto;
	}

	.end-date-bar-text-container-1 {
		@media @phone {
			width: 75%;
		}
	}

	.end-date-bar-start-text-1,
	.end-date-bar-start-text-2 {
		text-align: left;
		display: inline-block;
		padding-right: 12px;

		@media @phone {
			text-align: center;
			width: auto;
		}

	}

	.number-plates-1,
	.number-plates-2 {
		&:before {
			content: '';
			padding: 0;

			@media @phone {
				content: 'nog';
				padding: 0 0 0 0;
			}

		}
	}

	.end-date-bar-end-text-1,
	.end-date-bar-end-text-2 {
		padding-left: 4px;
		@media @phone {
			padding-left: 0;
		}
	}

	.end-date-bar-start-text-1 {
		@media @phone {
			display: block;
		}
	}
}
